@{
    ViewData["Title"] = "Pokemon";
}




<body style="background-image: url(https://cdn2.bulbagarden.net/upload/f/f4/Safari_RTDX.png);background-repeat:no-repeat;background-size:cover">
</body>





<div class="text-center">
    <h2 class="display-4" ; style="font-size: large">

        <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg" alt="Pokemon"></img>

    </h2>

</div>



